
*{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

hr{
  border:solid 1px grey;
}

li{
    list-style: none;
}

a{
  text-decoration: none;
}

.siderbar{
  float: left;
  text-align: center;
  margin-top: 5%;
  margin-left: 1%;
  width: 30%;
}

.siderbar img {
    width: 80%;
}

.container{
  width: 65%;
  margin-left: 32%;
  padding-top: 10%;
  text-align:center;
}


.center_introduction {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    margin-top: 5%;
}

.center_introduction img{
  width: 100%;
}



.name {
    /* width: 25%; */
    /* margin-top: 20%; */
    font-size: 10px;
}
